<script>
	$(function() {
		
var v = $( "#clinic_therapy_repetitions" ).val();
		$( "#clinic_therapy_repetitions_slider" ).slider({
			range: "min", 
			value: v,
			min: 1,
			max: 20,
			slide: function( event, ui ) {
				$( "#clinic_therapy_repetitions" ).val(ui.value );
			}
		});
		
	});

	</script>

<%= form_for(@clinic, :url => user_clinic_url(@user)) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>
      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div id='reminder_form'>
		<div class="field">
		  <%= f.label :therapy_repetitions %><br />
		  <%= f.text_field :therapy_repetitions, :in => 1...20%>
			<div style="width:30%;" id="clinic_therapy_repetitions_slider"></div>
		</div>
	</div>
	<%unless @clinic.gestures.empty? %>
		Assigned Excercises:
	<%else%>
		Assign Excercises:
	<%end%>
	<div id='gesture_checkboxes'>
		<% for gesture in @gestures %>
<div class="checkbox_wrapper">
				<%= check_box_tag "clinic[gesture_ids][]", gesture.id, @clinic.gestures.include?(gesture), :id => "gesture_checkboxes_id_"<<gesture.title %>
				<label for="<%="gesture_checkboxes_id_"<<gesture.title%>"><%= gesture.title %>
</div>
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit 'Update Therapy Information' %>
  </div>
<% end %>
