<p id="notice"><%= notice %></p>

<%= javascript_include_tag '/javascripts/highcharts.js' %>
<%= javascript_include_tag '/javascripts/highcharts-exporting.js' %>

<h2><%=@user.title%></h2>
<%= link_to 'Edit/Back', user_path(@user) %>
<!-- the tabs -->
<div id="tabs" style="height:100%;padding:20px;">
	<ul>
		<%@gestures.each do |gesture|%>
			<li><a href="#statistics_<%=gesture.id%>"><%=gesture.title%></a></li>
		<% end %>
	</ul>
		<%@gestures.each do |gesture|%>
			<div id='statistics_<%=gesture.id%>' class='hc_cont' style="height:260px;"></div>
		<% end %>
</div>

<script type="text/javascript">
var chart;
jQuery(document).ready(function(){
	<% @str = Array.new %>
	<%@gestures.each do |gesture|%>
		<% @str << "chart(#{gesture.id}, '#{gesture.title}');" %>
	<% end %>
	<%= @str.join("\n\t") %>
});
function chart(gesture_id, title) {
	var options = {
		chart: {
			renderTo: 'statistics_'+gesture_id,
         zoomType: 'x',
         defaultSeriesType: 'column',
				width: 800
      },
      title: {
         text: title
      },
      subtitle: {
         text: 'Therapy Results'
      },
      xAxis: {
         type: 'datetime',
         dateTimeLabelFormats: { // don't display the dummy year
            month: '%e. %b',
            year: '%b'
         }
      },
      yAxis:
			[{ // Primary yAxis
				min: 0,
				max: 100,
				labels: {
					formatter: function() {
						return this.value +' %';
					},
					style: {
						color: '#00F'
					}
				},
				title: {
					text: 'Effort'
				},
				opposite: true

			}, { // Secondary yAxis
min: -50,
max:50,
				gridLineWidth: 0,
				title: {
					text: 'Variance',
					style: {
						color: '#920'
					}
				},
				labels: {
					formatter: function() {
						return this.value;
					},
					style: {
						color: '#920'
					}
				}

			}],
      legend: {
         layout: 'vertical',
         align: 'left',
         verticalAlign: 'top',
         x: 100,
         y: 70,
         floating: true,
         shadow: true
      },
      tooltip: {
         			formatter: function() {
					return '<b>'+ this.series.name +'</b><br/>'+
	 					this.y +' <br />' +
					Highcharts.dateFormat('%e %b, %l:%M %p', this.x);
				}
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
      series: [
				{name: 'effort'},
				{name: 'variance',
					yAxis:1,
					type:'spline',
					marker: {
						enabled: false
					},
					dashStyle: 'shortdot'}
				]
			};
 
			// Load data asynchronously using jQuery. On success, add the data
			 // to the options and initiate the chart.
			 // This data is obtained by exporting a GA custom report to TSV.
			 // http://api.jquery.com/jQuery.get/
				jQuery.getJSON('<%= user_client_sessions_path(@user, :format =>'json')%>?gesture_id='+gesture_id+'', function(data) {
					var effort = [];
					var variance = [];
					jQuery.each(data, function(key, value) {
						var mean_sum = 0;
						var max_val = 1;	


						for(var i = 0; i<value.length; i++){
							mean_sum = mean_sum + parseFloat(value[i].effort);
						}
						mean_sum /= (i+1);
						for(i = 0; i<value.length; i++){
							var d = new Date(value[i].created_at);
							var curr_minute = d.getMinutes();
							var curr_hour = d.getHours();
							var curr_date = d.getDate();
							var curr_month = d.getMonth(); //months are zero based
							var curr_year = d.getFullYear();
							//alert(max_val);
								var d = new Date()
								var n = d.getTimezoneOffset();
var msOffset = n*60*1000
							effort.push( [ Date.UTC(curr_year, curr_month, curr_date, curr_hour, curr_minute) +msOffset, value[i].effort] );
							variance.push( [ Date.UTC(curr_year, curr_month, curr_date, curr_hour, curr_minute) + msOffset , (value[i].effort-mean_sum)] );
					}
				});      

			options.series[0].data = effort;
			options.series[1].data = variance;
      chart = new Highcharts.Chart(options);
   });

	jQuery('#tabs').tabs();
}
</script>	
