<ul>
	<li>
		Sample #<%= gesture_sample.id %>
	</li>
	<li>
		Mean:
		<%= gesture_sample.mean %>
	</li>
	<li>
		Signal length:
<%= gesture_sample.signal_length %>
	</li>
	<li>
		RMS: 
<%= gesture_sample.rms %>
	</li>
	<li>
		Vertices
<%= gesture_sample.vertices %>
	</li>
	<li>
		Baseline Crosses
		<%= gesture_sample.baseline_crosses %>
	</li>
	<li>
		Fundamental Frequency
		<%= gesture_sample.fundamental_frequency %><br />
	</li>
	<li>
		Variance
		<%= gesture_sample.variance %><br />
	</li>
	<li>
		Region Length
		<%= gesture_sample.region_length %><br />
	</li>
</ul>
<%=link_to 'Delete', gesture_classifier_gesture_sample_path(@gesture, @classifier, gesture_sample), :method => :delete, :confirm => "Are you sure?" %>
