<h2><%=@user.title%></h2>
<%=link_to 'Show Therapy Results', user_clinic_path(@user)%><br />
<%=link_to 'Edit User Registration', edit_user_path(@user)%>
<br />
<%=render :partial => 'clinics/clinic', :object => @clinic, :@clinic => :clinic %>
<%= link_to 'Back', users_path %>
